---
import { Icon } from 'astro-icon/components';
import { getNetworkIcon } from '../lib/icons';
import type { GeolienCardProps } from '../types/geoliens';

interface Props extends GeolienCardProps {}

const { geolien } = Astro.props;
---

<a
href={geolien.url}
target="_blank"
rel="noopener noreferrer"
class="geolien-card bg-primary-yellow text-neutral-dark border border-neutral-light p-2"
data-type={geolien.type}
data-territoire={geolien.territoire}
data-nom={geolien.nom.toLowerCase()}
data-lieu={geolien.lieuNom?.toLowerCase() || ''}
data-fullpath={geolien.fullPath?.toLowerCase() || ''}
>
<div class="overflow-hidden">
  <div class="flex items-start justify-between">



    <div class="flex-1 min-w-0">

      <div class="flex gap-2 mb-2">
        <div class="w-6 h-6 flex-shrink-0">
          <img src={getNetworkIcon(geolien.type)} alt={geolien.type} class="w-full h-full object-contain" />
        </div>
        <h3 class="text-base font-semibold text-inherit truncate" title={geolien.nom}>{geolien.nom}</h3>
      </div>

      <div class="flex gap-2 flex-wrap items-center">

        { geolien.fullPath && geolien.fullPath !== 'Root' ? (
        <p class="text-sm font-medium text-inherit flex items-center gap-1 truncate" title={geolien.lieuNom}>
          <Icon name="map-pin" class="w-4 h-4 flex-shrink-0" />
          <span class="truncate">{geolien.lieuNom}</span>
        </p>
        ) : (
          <p class="text-sm font-medium text-inherit flex items-center gap-1 truncate" title="France">
            <Icon name="map-pin" class="w-4 h-4 flex-shrink-0" />
            <span class="truncate">France</span>
          </p>
        )}

        { geolien.territoire &&
          <div class="flex flex-wrap gap-2 items-center">
             <span>•</span>
            {geolien.territoire && (
              <span class="text-sm font-medium flex items-center gap-1">
                {geolien.territoire}
              </span>
            )}
          </div>
        }
      </div>
    </div>
  </div>
</div>
</a>
